{% extends "homebase.html" %}

{% block title %} Kaydol {{setting.title}} {% endblock %}
{% block keywords %} {{setting.keyword}} {% endblock %}
{% block description %} {{setting.description}} {% endblock %}

{% block sidebar %}
    {% include "sidebar.html" %}
{% endblock %}

{% block head %}
    <link rel='shortcut icon' type='image/x-icon' href='{{setting.icon.url}}' />
{% endblock %}

{% block content %}

    <!-- BREADCRUMB -->
	<div id="breadcrumb">
		<div class="container">
			<ul class="breadcrumb">
				<li><a href="/">Ana Sayfa</a></li>
				<li class="active">Kullanıcı Kaydı</li>
			</ul>
		</div>
	</div>
	<!-- /BREADCRUMB -->

	<!-- section -->
	<div class="section">
		<!-- container -->
		<div class="container">
			<!-- row -->
			<div class="row">

				<div class="col-md-7">
					<div class="billing details">

						<div class="section-title">
							<h3 class="title">Kullanıcı Kaydı</h3>
						</div>

						{% if messages %}
							{% for message in messages %}
								<div class="alert alert-{{message.tags}}" role="alert">
									{{ message }}
								</div>
							{% endfor %}
						{% endif %}

						<form method="post">
							{% csrf_token %}
							{% for field in form %}
								<p>
									{{ field.label_tag }}<br>
									{{ field }}
									{% if field.help_text %}
										<small style="color: red">{{ field.help_text }}</small>
									{% endif %}
									{% for error in field.errors %}
										<p style="color: red">{{ error }}</p>
									{% endfor %}
								</p>
							{% endfor %}
							<button type="submit">Kaydol</button>

						</form>



					</div>

				</div>


			</div>
			<!-- /row -->
		</div>
		<!-- /container -->
	</div>
	<!-- /section -->

{% endblock %}